html,body{
    height: 142%;
    margin: 0;
    padding: 0;
  
}
header{
    width: 100%;
    height: 5%;
    position: fixed;
    z-index: 1000;
}
main{
    width: 100%;
    height: 100%;
}
footer{
    width: 100%;
    height: 2%;
}
footer h4{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#000000;
    background-color: #ffffff;
}
.navbar{
    width: 100%;
    height: 100%;
    border-top: 1px solid #ffe;
}
.navbar ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: #242323;
    margin: 0;
    padding: 0;
}
.navbar ul li{
    width: 6%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.navbar a{
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    transition: all 0.2s ease-in-out
}

section{
    width: 100%;
    height: 100%;
}

#title{
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: end;
    background-image: url(./image/imagen-fondo.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    filter: grayscale(10%);
    z-index: -100;
}


.conteiner-main{
    width: 100%;
    height: 200%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 5%;
    border: 1px solid #2222;
}
.conteiner-title{
    width: 100%;
    height: 40%;
    display: flex;
   flex-direction: column;
    justify-content: start;
    align-items: center;
}
.conteiner-title h1{
    width: 50%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: end;
    font-size: 70px;
    color: #fff;
    letter-spacing: 3px;
    margin:0;

}
.conteiner-title h2{
    width: 50%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #ffffff;
    letter-spacing: 3px;
    margin: 0;
}
.conteiner-news{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: end;
   background-color: rgb(255, 255, 255);
}
.news{
    width: 70%;
    height: 55%;
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    top: 30%;
    background-color: #fff;
}
.card-news{
    width: 96%;
    height: 100%; 
    margin: 2%;
    border-bottom: 1px solid #0002;
}
.card-news img{
    width: 100%;
    height: 70%; 
    filter: grayscale(10%);
}
.card-news h2{
    width: 95%;
    height: 5%; 
    padding-left: 2%;
    filter: grayscale(10%);
}
.card-news p{
    width: 95%;
    height: 10%; 
    padding-left: 2%;
    filter: grayscale(10%);
}
span{
    color: #1836cc;
    cursor: pointer;
}
.conteiner-social-networld{
    width: 100%;
    height: 35%; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-networld{
    width: 70%;
    height: 15%; 
    display: flex;
    justify-content: center;
    align-items: end;
}

.social-networld a{
    width: 10%;
    height: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-networld a i{
    font-size: 30px; 
    color: #222;
}



/***************Font****************/
.rubik-uniquifier{
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
  }

  .rubik{
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: italic;
  }

.josefin-slab{
  font-family: "Josefin Slab", serif;
  font-optical-sizing: auto;
  font-weight: 50;
  font-style: normal;
}
/*******************************/
/**************hover *****************/
.navbar a:hover{
    color: #999;
}
/*******************************/