html,body{
    height: 120%;
    margin: 0;
    padding: 0;
}
header{
width: 100%;
height: 8%;
display: flex;
}
main{
    width: 100%;
    height: 100%;
}
footer{
    width: 100%;
    height: 12%;
    display: flex;
}
/*******************************************************/


.work-sans{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  
}
.josefin-slab{
    font-family: "Josefin Slab", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }
/*************************************************/
.container-nav{
width: 100%;
height: 12%;
display: flex;
justify-content: center;
align-items: center;
position: fixed;
background-color: #ffffff;
z-index: 100;
}
.container-title-nav{
    width: 50%;
    height: 100%;
    display: flex;


}
.container-title-nav h1{
    max-width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.container-title-nav h2{
    max-width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    margin: 0;
}
.container-nav ul{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;

    }
    .container-nav ul li{
        width: 20%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        letter-spacing: 1px;
        margin: 0;
    }
    .container-nav ul li a{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        font-size: 18px;
        margin: 0;
        color: #000;
    }
/******************************************************/
section{
    width: 100%;
    height: 100%;
    display: flex; 
    background-color: #eee;
}
.container-card{
    width: 60%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 20%;
    left: 20%;
    position: absolute;
    background-color: #eee;
}
.container-card-photo{
    width: 65%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   border: 1px solid rgb(111, 219, 10);
}
.container-card-data{
    width: 55%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
}
.container-card-photo img{
    width: 180px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #eee;
}

.container-section{
    width: 45%;
    height: 100%;
    display: flex; 
    background-color: #f70505;
}
.container-section2{
    width: 60%;
    height: 100%;
    display: flex; 
    background-color: #96e307;
}




    /***************************************************/
    .container-footer{
        width: 50%;
        height: 100%;
       border-top: 1px solid #0005;
    }
        