html,body{
    height: 120%;
    margin: 0;
    padding: 0;
}
header{
width: 100%;
height: 8%;
display: flex;
}
main{
    width: 100%;
    height: 100%;
}
footer{
    width: 100%;
    height: 12%;
    display: flex;
}
/*******************************************************/


.work-sans{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  
}
.josefin-slab{
    font-family: "Josefin Slab", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }
/*************************************************/
.container-nav{
width: 100%;
height: 12%;
display: flex;
justify-content: center;
align-items: center;
position: fixed;
z-index: 100;
background-color: #fff;
}
.container-title-nav{
    width: 50%;
    height: 100%;
    display: flex;
}
.container-title-nav h1{
    max-width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.container-title-nav h2{
    max-width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    margin: 0;
}
.container-nav ul{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;

    }
    .container-nav ul li{
        width: 20%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        letter-spacing: 1px;
        margin: 0;
    }
    .container-nav ul li a{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        font-size: 18px;
        margin: 0;
        color: #000;
    }
/******************************************************/
section{
    width: 100%;
    height: 100%;
    display: flex; 
    background-color: #eee;
}
.container-card{
    width: 60%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 20%;
    left: 25%;
    position: absolute;
    background-color: #eee;
    border-top: 1px solid #0001;
    border-left: 1px solid #0001;
    box-shadow: 15px 15px 10px #0009;
}
.container-card-photo{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.5s ease-in-out;

}
.container-card-data{
    width: 0%;
    height: 90%;
    display: grid;
    place-content: center;
    grid-template-columns: 120px 120px 120px  ;
    row-gap: 10px;
    transition: all 0.5s ease-in-out;
    opacity:0;
    overflow: hidden;
    
}
.card-data{
    width: 100px;
    height: 100px;
    display: grid;
    place-content: center;
    text-align: center;
    border-radius: 50%;
    font-weight: 500;
    border: 1px solid #0004;
    transition: all 0.5s ease-in-out;
 
  
}
.card-data:hover{
      cursor: pointer;
      box-shadow: 0 0 15px;
      background-color: #000;
      color: #fff;
}

.btn-open{
    position: absolute;
    left:93%;
    width: 80px;
    height:80px; 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    z-index: 100;
}
.btn-open h2{
    width: 70px;
    height:70px;
    display: flex;
    justify-content: center;
    align-items: center; 
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
  
}
.btn-open h2 i{
    width: 100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    border-radius: 50%;
    color: #000000;
    background-color: #eee;
    font-size: 50px;
  
}
.card-photo{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;;
}
.card-photo img{
    width: 180px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.container-social-networld{
    width: 100%;
    height: 50%;
    display: flex; 
    flex-direction: column;
}
.container-social-networld ul{
    width: 100%;
    height: 25%;
    display: flex; 
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
.container-social-networld ul li{
    width: 20%;
    height: 100%;
    display: flex; 
    justify-content: center;
    align-items: center;
    font-size: 25px;
   
}
.container-social-networld i{
    color: #000;
    transition: 0.5s ease-in-out;
}
.container-social-networld h2{
    width: 100%;
    height: 40%;
    display: flex; 
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0;
    font-size: 35px;
}
.container-social-networld h3{
    width: 100%;
    height: 35%;
    display: flex; 
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 20px;
    margin: 0;
}



.container-section{
    width: 40%;
    height: 100%;
    display: flex;

}
.container-section2{
    width: 60%;
    height: 100%;
    display: flex; 
  
}




    /***************************************************/
    .container-footer{
        width: 100%;
        height: 100%;
        display: flex;
        border-top: 1px solid #0005;
        
    }
    .container-data-footer{
        width: 33%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        letter-spacing: 1px;
    }
    .container-data-footer h2 {
        max-width: 100%;
        height: 35%;
        display: flex;
        justify-content: center;
        font-weight: 800;
        align-items: center;
        font-size: 20px;
        margin: 0;
    }
    .container-data-footer  h4{
        max-width: 100%;
        height: 35%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        margin: 0;
    }

        