<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@300&family=Mansalva&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="./styleAbout.css">
    <title>About me</title>
</head>
<body>
    <body>
        <header>
            <div class="navbar">
                <ul>
                    <li><a href="../index.html" class="rubik-uniquifier">Home</a></li>
                    <li><a href="./about.html" class="rubik-uniquifier">About me</a></li>
                    <li><a href="../post/post.html" class="rubik-uniquifier">Post</a></li>
                    <li><a href="../contact/contact.html" class="rubik-uniquifier">Contact</a></li>
                </ul>
            </div>
        </header>
        <main>
                <section id="title">
                 
                </section>
                <section>
                    <div class="conteriner-aboutme">
                        <p class="rubik-uniquifier">
                            Hello everyone! My name is Mark Anderson  and I am a naturalist. From a very young age, I have always felt a deep connection with nature and an insatiable curiosity to understand the wonderful processes that govern the natural world. This passion led me to study zoology and to dedicate my career to research, conservation, and education about our natural environment.
                            Throughout my career, I have had the opportunity to participate in various field research projects, where I have explored [relevant places, e.g., the Amazon rainforest, coral reefs, the Andes mountains]. I have collaborated with other scientists and organizations to document biodiversity and propose conservation strategies to protect species and their habitats.
                            Today, I want to share with you some of the most significant experiences and discoveries from my journey as a naturalist, as well as my perspectives on the importance of preserving our rich biological diversity for future generations.         </p>
                        <div class="conteiner-social-networld">
                            <div class="social-networld">
                             <a href=""><i class="bi bi-envelope-fill"></i></a>
                             <a href=""><i class="bi bi-facebook"></i></a>
                             <a href=""><i class="bi bi-twitter"></i></a>
                             <a href=""> <i class="bi bi-linkedin"></i></a>
                            
                            </div>
                        </div>

                    </div>
                    <div class="conteriner-aboutme">
                        <div class="conteiner-aboutme-title">
                            <h2 class="josefin-slab">About me</h2>

                        </div>
                        <div class="conteiner-aboutme-photo">
                            <img src="../image/beanie-2562646.jpg" alt="">

                        </div>


                    </div>

                  
                </section>
               
        </main>
        <footer>
            <h4 class="rubik-uniquifier"> 
                &#169; Copyright 2024  P&P | Todos los derechos reservador
            </h4>
        </footer>
    
</body>
</html>