<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./stylePost.css">
    <title>Post</title>
</head>
<body>
    <header>
        <div class="navbar">
            <ul>
                <li><a href="../index.html" class="rubik-uniquifier">Home</a></li>
                <li><a href="" class="rubik-uniquifier">About me</a></li>
                <li><a href="" class="rubik-uniquifier">Post</a></li>
                <li><a href="" class="rubik-uniquifier">Contact</a></li>
            </ul>
        </div>
    </header>
    <main>
        <section>
            <div class="conteiner-img-p">
                <img src="../image/fox.jpg" alt="">

            </div>
            <div class="conteiner-title-data-post">
                <div class="title-date-news">
                  <div class="title-date">
                    <h2 class="josefin-slab">New Post</h2>
                    <h2 class="rubik-uniquifier">11/11/1997</h2>
                  </div>  
                  <p class="rubik-uniquifier">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio odit, perspiciatis commodi inventore iste facere explicabo neque qui expedita dolorem incidunt nemo beatae ipsa ab. Veniam nobis explicabo reiciendis laudantium.
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius, facere minima odio tempora architecto sed consequuntur, ut eaque dolorum quasi explicabo, doloremque at mollitia nisi tenetur dolorem ipsam reiciendis debitis?
                </p> 
            </div>
            </div>
        </section>

        <section>
            <div class="conteiner-img-p">
                <img src="../image/bird-1905255.jpg" alt="">

            </div>
            <div class="conteiner-title-data-post">
                <div class="title-date-news">
                  <div class="title-date">
                    <h2 class="josefin-slab">Post</h2>
                    <h2 class="rubik-uniquifier">11/11/1997</h2>
                  </div>  
                    <p class="rubik-uniquifier">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio odit, perspiciatis commodi inventore iste facere explicabo neque qui expedita dolorem incidunt nemo beatae ipsa ab. Veniam nobis explicabo reiciendis laudantium.
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius, facere minima odio tempora architecto sed consequuntur, ut eaque dolorum quasi explicabo, doloremque at mollitia nisi tenetur dolorem ipsam reiciendis debitis?
                    </p>
                </div>
            </div>

        </section>

        <section>
            <div class="conteiner-img-p">
                <img src="../image/forest-6765636.jpg" alt="">

            </div>
            <div class="conteiner-title-data-post">
                <div class="title-date-news">
                  <div class="title-date">
                    <h2 class="josefin-slab">Post</h2>
                    <h2 class="rubik-uniquifier">11/11/1997</h2>
                  </div>  
                    <p class="rubik-uniquifier"> <p class="rubik-uniquifier">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio odit, perspiciatis commodi inventore iste facere explicabo neque qui expedita dolorem incidunt nemo beatae ipsa ab. Veniam nobis explicabo reiciendis laudantium.
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius, facere minima odio tempora architecto sed consequuntur, ut eaque dolorum quasi explicabo, doloremque at mollitia nisi tenetur dolorem ipsam reiciendis debitis?
                    </p>
                </div>
            </div>

        </section>

        <section>
            <div class="conteiner-img-p">
                <img src="../image/deer-7508187.jpg" alt="">

            </div>
            <div class="conteiner-title-data-post">
                <div class="title-date-news">
                  <div class="title-date">
                    <h2 class="josefin-slab">Post</h2>
                    <h2 class="rubik-uniquifier">11/11/1997</h2>
                  </div>  
                  <p class="rubik-uniquifier">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio odit, perspiciatis commodi inventore iste facere explicabo neque qui expedita dolorem incidunt nemo beatae ipsa ab. Veniam nobis explicabo reiciendis laudantium.
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius, facere minima odio tempora architecto sed consequuntur, ut eaque dolorum quasi explicabo, doloremque at mollitia nisi tenetur dolorem ipsam reiciendis debitis?
                </p>
            </div>
            </div>

        </section>

    </main>
    <footer>
        <h4 class="rubik-uniquifier"> 
            &#169; Copyright 2024  P&P | Todos los derechos reservador
        </h4>
    </footer>
    
</body>
</html>