<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./stylePost.css">
    <title>Post</title>
</head>
<body>
    <header>
        <div class="navbar">
            <ul>
                <li><a href="../index.html" class="rubik-uniquifier">Home</a></li>
                <li><a href="" class="rubik-uniquifier">About me</a></li>
                <li><a href="" class="rubik-uniquifier">Post</a></li>
                <li><a href="" class="rubik-uniquifier">Contact</a></li>
            </ul>
        </div>
    </header>
    <main>
        <section>
            <div class="conteiner-img-p">
                <img src="../image/fox.jpg" alt="">

            </div>
            <div class="conteiner-title-data-post">
                <div class="title-date-news">
                  <div class="title-date">
                    <h2 class="josefin-slab">New Post</h2>
                    <h2 class="rubik-uniquifier">11/11/1997</h2>
                  </div>  
                    <p class="rubik-uniquifier">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem temporibus labore, perspiciatis earum repudiandae necessitatibus aspernatur, assumenda ullam illum ipsa quas. Molestiae ducimus illo assumenda necessitatibus veniam aspernatur dignissimos ea! Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione tempora repudiandae odit dolorem voluptate laudantium culpa rerum totam nemo nostrum dignissimos nobis animi tenetur voluptates autem, at molestiae deleniti. Pariatur. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed velit quis incidunt reiciendis repellat aliquam nam placeat tempore alias accusamus veniam aliquid voluptas, quibusdam nisi corrupti ipsam. Dolores, rem. Cum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci aut id debitis quo sed quia nobis. Dolor atque expedita possimus. Vero, voluptas. In iure perspiciatis dolore omnis impedit, dolorum aspernatur?</p>
                </div>
            </div>
        </section>

        <section>
            <div class="conteiner-img-p">
                <img src="../image/bird-1905255.jpg" alt="">

            </div>
            <div class="conteiner-title-data-post">
                <div class="title-date-news">
                  <div class="title-date">
                    <h2 class="josefin-slab">Post</h2>
                    <h2 class="rubik-uniquifier">11/11/1997</h2>
                  </div>  
                    <p class="rubik-uniquifier">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem temporibus labore, perspiciatis earum repudiandae necessitatibus aspernatur, assumenda ullam illum ipsa quas. Molestiae ducimus illo assumenda necessitatibus veniam aspernatur dignissimos ea! Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione tempora repudiandae odit dolorem voluptate laudantium culpa rerum totam nemo nostrum dignissimos nobis animi tenetur voluptates autem, at molestiae deleniti. Pariatur. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed velit quis incidunt reiciendis repellat aliquam nam placeat tempore alias accusamus veniam aliquid voluptas, quibusdam nisi corrupti ipsam. Dolores, rem. Cum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci aut id debitis quo sed quia nobis. Dolor atque expedita possimus. Vero, voluptas. In iure perspiciatis dolore omnis impedit, dolorum aspernatur?</p>
                </div>
            </div>

        </section>

        <section>
            <div class="conteiner-img-p">
                <img src="../image/forest-6765636.jpg" alt="">

            </div>
            <div class="conteiner-title-data-post">
                <div class="title-date-news">
                  <div class="title-date">
                    <h2 class="josefin-slab">Post</h2>
                    <h2 class="rubik-uniquifier">11/11/1997</h2>
                  </div>  
                    <p class="rubik-uniquifier">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem temporibus labore, perspiciatis earum repudiandae necessitatibus aspernatur, assumenda ullam illum ipsa quas. Molestiae ducimus illo assumenda necessitatibus veniam aspernatur dignissimos ea! Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione tempora repudiandae odit dolorem voluptate laudantium culpa rerum totam nemo nostrum dignissimos nobis animi tenetur voluptates autem, at molestiae deleniti. Pariatur. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed velit quis incidunt reiciendis repellat aliquam nam placeat tempore alias accusamus veniam aliquid voluptas, quibusdam nisi corrupti ipsam. Dolores, rem. Cum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci aut id debitis quo sed quia nobis. Dolor atque expedita possimus. Vero, voluptas. In iure perspiciatis dolore omnis impedit, dolorum aspernatur?</p>
                </div>
            </div>

        </section>

        <section>
            <div class="conteiner-img-p">
                <img src="../image/deer-7508187.jpg" alt="">

            </div>
            <div class="conteiner-title-data-post">
                <div class="title-date-news">
                  <div class="title-date">
                    <h2 class="josefin-slab">Post</h2>
                    <h2 class="rubik-uniquifier">11/11/1997</h2>
                  </div>  
                    <p class="rubik-uniquifier">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem temporibus labore, perspiciatis earum repudiandae necessitatibus aspernatur, assumenda ullam illum ipsa quas. Molestiae ducimus illo assumenda necessitatibus veniam aspernatur dignissimos ea! Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione tempora repudiandae odit dolorem voluptate laudantium culpa rerum totam nemo nostrum dignissimos nobis animi tenetur voluptates autem, at molestiae deleniti. Pariatur. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed velit quis incidunt reiciendis repellat aliquam nam placeat tempore alias accusamus veniam aliquid voluptas, quibusdam nisi corrupti ipsam. Dolores, rem. Cum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci aut id debitis quo sed quia nobis. Dolor atque expedita possimus. Vero, voluptas. In iure perspiciatis dolore omnis impedit, dolorum aspernatur?</p>
                </div>
            </div>

        </section>

    </main>
    <footer>
        <h4 class="rubik-uniquifier"> 
            &#169; Copyright 2024  P&P | Todos los derechos reservador
        </h4>
    </footer>
    
</body>
</html>