<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@300&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Mansalva&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="./style.css">
    <title>Template</title>
</head>
<body>
    <header>
        <nav>
            <div class="conteiner-title">
                <h1 class="roboto-regular">Roberto Piazza</h1>
            </div>
            <ul class="raleway">
                <li><a href="#Home" >Home</a></li>
                <li><a href="#About">About</a></li>
                <li><a href="#Post">Post</a></li>
                <li><a href="#Contact">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="fondo">
            <img src="./image/pexels-stefanstefancik-91227.jpg" alt="">
        </section>
        
        <section id="Home">d
          
            <div class="container-section-title">
                <div class="section-title">
                     <h2 class="lato-light">
                        Periodista Independiente
                     </h2>
                    <h3 class="chocolate-classical-sans-regular ">
                        Periodismo de Guerra
                    </h3>
                </div> 
            </div>
            <div class="container-social-networld">
                <ul>
                    <li><a href=""><i class="bi bi-envelope-fill"></i></a></li>
                    <li><a href=""><i class="bi bi-facebook"></i></a></li>
                    <li><a href=""><i class="bi bi-twitter"></i></a></li>
                    <li> <a href=""> <i class="bi bi-linkedin"></i></a></li>
                </ul>
            </div>

        </section >
        <section id="About">
            <div class="container-section">
                <h2 class="pt-serif-regular">
                    About
                </h2>
                <div class="container-section-about">
                    <img src="./image/periodista-espalda.jpg" alt="">
                    <p>
                        Hola, soy Roberto Piazza, un joven periodista de guerra de 25 años con una pasión insaciable por contar las historias ocultas detrás de los conflictos más intensos del mundo. Desde que me gradué en Periodismo y Ciencias de la Comunicación, me he dedicado a viajar a zonas de guerra para documentar y reportar sobre las realidades más crudas y complejas que enfrentan las personas atrapadas en estos entornos.

Mi carrera me ha llevado a cubrir conflictos en Siria, Yemen, Ucrania y varias otras regiones donde la vida cotidiana está marcada por la violencia y la incertidumbre. En cada lugar, mi objetivo es dar voz a los que no pueden ser escuchados y revelar las verdades que a menudo quedan enterradas bajo el estruendo de las balas y las explosiones.

A pesar de mi corta edad, he tenido la oportunidad de trabajar con algunos de los medios más respetados del mundo y mis reportajes han sido reconocidos por su profundidad y humanidad. La responsabilidad de narrar las historias de las víctimas de la guerra es algo que tomo muy en serio, y estoy comprometido a seguir aprendiendo y creciendo en esta profesión.

Además de mi trabajo en el terreno, también me apasiona la escritura y la investigación. He publicado artículos y ensayos que analizan las dinámicas de los conflictos y sus efectos a largo plazo en las comunidades afectadas. A través de mi labor, espero contribuir a una mayor comprensión y conciencia sobre las devastadoras consecuencias de la guerra, y a su vez, inspirar a otros jóvenes periodistas a seguir este camino.

Cada historia que cuento es un recordatorio de la resiliencia y la dignidad humana, y me siento honrado de poder compartir estas narrativas con el mundo. Mi compromiso con la verdad y la justicia es lo que guía mi trabajo, y seguiré dedicándome a este esfuerzo con toda mi energía y determinación.
<span>Leer mas</span>
                    </p>
                </div>
            </div>

            
        </section>
        <section id="Post">
            <div class="container-section">
                <h2 class="pt-serif-regular">
                    Post
                </h2>
                <div class="container-section-post">

                    <div class="container-card-post">
                        <div class="container-card-img">
                            <img src="./image/pexels-stefits-11477801.jpg" alt="">
                        </div>
                        <div class="container-title-card-post">
                            <h2>
                                Guerra Civil Siria
                            </h2>
                            <p>
                                "En las últimas 24 horas, intensos ataques aéreos han sacudido varias regiones de Siria, dejando un saldo trágico de decenas de muertos y heridos, según informaron fuentes locales. La escalada de violencia ha generado una nueva ola de desplazamientos y ha agravado la ya crítica situación humanitaria en el país."

                            </p>

                        </div>
                    </div>
                    <div class="container-card-post">
                                 <div class="container-card-img">
                            <img src="./image/pexels-pixabay-264146.jpg" alt="">
                        </div>
                        <div class="container-title-card-post">
                            <h2>
                                Guerra Civil en Somalia
                            </h2>
                            <p>
                                "La Organización de las Naciones Unidas (ONU) ha lanzado una advertencia urgente sobre el riesgo de hambruna masiva en Yemen, a medida que el conflicto civil se intensifica y las condiciones de vida para millones de personas se deterioran rápidamente. La falta de acceso a alimentos y servicios básicos ha alcanzado niveles críticos, poniendo en peligro la vida de miles de niños y adultos."
                            </p>

                        </div>
                    </div>
                    <div class="container-card-post">
         <div class="container-card-img">
                            <img src="./image/pexels-matreding-11421071.jpg" alt="">
                        </div>
                        <div class="container-title-card-post">
                            <h2>
                                Guerra Civil en Myanmar
                            </h2>
                            <p>
                                "El gobierno de Etiopía ha anunciado un alto el fuego unilateral en la región de Tigray, con el objetivo de permitir el acceso humanitario a las zonas afectadas por el conflicto. Esta medida llega después de meses de intensos combates entre las fuerzas gubernamentales y el Frente Popular de Liberación de Tigray (TPLF), que han dejado miles de muertos y desplazados."

                            </p>

                        </div>
                    </div>
                    <div class="container-card-post">
         <div class="container-card-img">
                            <img src="./image/war.jpg" alt="">
                        </div>
                        <div class="container-title-card-post">
                            <h2>
                                Guerra en Tigray
                            </h2>
                            <p>
                                "Un atentado suicida en la capital de Somalia, Mogadiscio, ha dejado varios muertos y heridos, según informaron las autoridades locales. El ataque, que tuvo lugar en una concurrida zona comercial, ha sido atribuido a militantes extremistas y ha generado una gran preocupación por la seguridad en el país, que sigue lidiando con una prolongada guerra civil."
                            </p>

                        </div>
                    </div>
                    <div class="container-card-post">
         <div class="container-card-img">
                            <img src="./image/war2.jpg" alt="">
                        </div>
                        <div class="container-title-card-post">
                            <h2>
                                Guerra Civil Siria
                            </h2>
                            <p>
                                "La situación en Myanmar sigue siendo extremadamente tensa, con enfrentamientos continuos entre las tropas gubernamentales y diversos grupos rebeldes en varias partes del país. La violencia se ha intensificado en los últimos días, dejando un creciente número de víctimas y desplazados, y exacerbando la crisis humanitaria en la región."
                            </p>

                        </div>
                    </div>
                    <div class="container-card-post">
         <div class="container-card-img">
                            <img src="./image/war3.jpg" alt="">
                        </div>
                        <div class="container-title-card-post">
                            <h2>
                                Guerra Ruso-Ucraniana
                            </h2>
                            <p>
                                "Las fuerzas rusas han lanzado una nueva ofensiva en el este de Ucrania, desencadenando intensos combates en varias ciudades clave de la región. Las autoridades ucranianas han informado de un aumento significativo en los bombardeos y ataques aéreos, mientras los civiles intentan huir de las áreas conflictivas en busca de seguridad."

                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="Contact">
            <div class="container-section">
                <h2 class="pt-serif-regular">
                    Contact
                </h2>
                <div class="container-section-contact">
                    <div class="container-data-form">
                        <div class="container-data chocolate-classical-sans-regular ">
                           <div class="data   ">
                                <h2 class="ubik">Telefono</h2>
                                <h3>+54 9 1530256974</h3>
                           </div> 
                           <div class="data">
                              <h2>Email</h2>
                              <h3>Periodistadeguerra@gmail.com</h3>
                            </div> 
                            <div class="data">
                                <h2>Direccion</h2>
                                <h3>San bernardo 1456 CABA</h3>
                            </div> 
                        </div>
                    </div>
                    <div class="container-forms-contact">
                        <div class="container-data-title">
                            <h2 class="pt-serif-regular"> Ponte en contacto </h2>

                            <div class="container-social-networld" id="social-networld-contact">
                                <ul>
                                    <li><a href=""><i class="bi bi-envelope-fill"></i></a></li>
                                    <li><a href=""><i class="bi bi-facebook"></i></a></li>
                                    <li><a href=""><i class="bi bi-twitter"></i></a></li>
                                    <li> <a href=""> <i class="bi bi-linkedin"></i></a></li>
                                </ul>
                            </div>

                        </div>
            
                        <form action="" class="form">
                            <input type="text" name="name" placeholder="Name" required>
                            <input type="text" name="lastname" placeholder="Last name" required>
                            <input type="number" name="number" placeholder="Phone" required>
                            <input type="email" name="email" placeholder="Email" required>
                            <textarea name="text" name="menssage" placeholder="" maxlength="340" required></textarea>
                            <button type="submit">Enviar</button>
                            <input type="hidden" name="_next" value="http://127.0.0.1:5500/index.html">
                        </form>

                    </div>
                </div>
            </div>
            
        </section>

    </main>
    <footer>
        <h4 class="raleway"> &#169; Copyright 2024  P&P | Todos los derechos reservador</h4>
    </footer>
</body>
</html>